.services {
  display: grid;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.services__item:not(:last-child) {
  margin-right: 8px;
}

.services__button {
  margin-bottom: 15px;
  font-family: var(--main-font);
  font-style: normal;
  @include fontparametrs(500, 16, 1.62, 0.03);
  text-align: center;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  border: 0px;
  color: var(--secondary-text-color);
  padding: 6px 22px;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--main-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
